@{
    ViewData["Title"] = "Accueil";
}

<div class="container-fluid">
    <div class="accueil-content row justify-content-end">
        <div class="col-6">
            <h1>Welcome to MERCADONA</h1>
            <div class="col text-center mt-4">
                <button class="btnCatalogue btn btn-success"><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Catalog" asp-route-id=0>Show Catalogue</a></button>
            </div>
        </div>
    </div>
</div>
